.about-container{
    padding-top: 100px;
}

.about-content{
    margin: 0 auto;
    max-width: 910px;
}

.about-introduction{
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
}

.about-left-panel{
    width: 50%;
    margin-right: 10%;
}

.about-portrait{
    padding-bottom: 50px;
}

.about-button-container{
    width: 200px;
    height: 50px;
    margin: auto;
}

.about-button-container>a{
    text-decoration: none;
}

.about-right-panel{
    width: 50%;
}

.about-detail{
    text-align: left;
}

.about-title{
    font-size: 28px;
    color: #1F1F22;
    padding-bottom: 100px;
}

.about-details{
    padding-bottom: 50px;
    font-size: 14px;
    color: #1F1F22;
}

.about-details>p{
    padding-top: 25px;
    margin: 0;
}

.about-skills{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding-top: 100px;
    padding-bottom: 200px;
}

.about-skill-title{
    color: #989AA4;
    font-size: 16px;
    padding-bottom: 20px;
}

.about-skill-detail{
    color: #3E3F44;
    font-size: 18px;
}

.about-skill-detail>p{
    margin: 10px 0 10px 0;
}