.sub-container{
    width: 100%;
}

.sub-title{
    padding: 100px 0;
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}

.sub-title-left-panel{
    width: 45%;
    font-size: 36px;
    font-weight: bold;
}

.sub-title-left-panel>p{
    margin: 0;
    line-height: 160%;
}

.sub-title-right-panel{
    width: 45%;
    font-size: 32px;
    font-weight: normal;
}

.sub-title-right-panel>p{
    margin: 0;
    line-height: 150%;
}

.sub-title-image{
    padding-bottom: 100px;
}

.sub-title-image>img{
    width: 100%;
}

.sub-component{
    width: 80%;
    margin: 0 auto;
}

.sub-project-properties{
    display: grid;
    grid-template: auto / auto auto;
    grid-row-gap: 50px;
    padding-bottom: 200px;
}

.sub-project-properties-item{
    text-align: left;
}

.properties-title{
    color: #989AA4;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    padding-bottom: 20px;
}

.properties-value{
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #3E3F44;
}

.properties-value>p{
    margin: 0;
}

.sub-research{
    padding-top: 200px;
    text-align: left;
}

.sub-research>p{
    font-weight: 600;
    font-size: 28px;
    line-height: 160%;
    color: #6B89AD;
}