.sub-container{
    width: 100%;
}


.sub-container *{
    color: #3E3F44;
    line-height: 180%;
}

.sub-title{
    padding: 100px 0;
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}

.sub-title-left-panel{
    width: 50%;
    font-size: 36px;
    font-weight: bold;
}

.sub-title-left-panel>p{
    margin: 0;
    line-height: 160%;
    color: #1F1F22 !important;
}

.sub-title-right-panel{
    width: 50%;
    font-size: 32px;
    font-weight: normal;
}

.sub-title-right-panel>p{
    margin: 0;
    line-height: 150%;
    color: #1F1F22 !important;
}

.sub-title-image{
    padding-bottom: 100px;
}

.sub-title-image>img{
    width: 100%;
}

.sub-component{
    width: 80%;
    margin: 0 auto;
    max-width: 1400px;
}

.sub-project-properties{
    display: grid;
    grid-template: auto / auto auto;
    grid-row-gap: 50px;
    padding-bottom: 200px;
}

.sub-project-properties-item{
    text-align: left;
}

.properties-title{
    color: #989AA4;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    padding-bottom: 20px;
}

.properties-value{
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #3E3F44;
}

.properties-value>p{
    margin: 0;
}

.sub-section{
    padding: 150px 0;
    text-align: left;
}

.sub-section>p{
    font-weight: 600;
    font-size: 32px;
    line-height: 160%;
    color: #6B89AD;
    margin-bottom: 40px;
}

.sub-section-detail{
    display: grid;
    flex-direction: row;
    grid-row-gap: 145px;
}

.sub-section-detail-half-column{
    display: grid;
    grid-template: auto / 50% 50%;
    flex-direction: row;
}

.sub-section-detail-column-string{
    padding-bottom: 40px;
}

.sub-section-detail-image{
    display: inline-block;
    float: left;
    height: 20px;
    padding-right: 5px;
}

.sub-section-detail-string{
    display:flow-root;
}

.left-padding-100{
    padding-left: 100px;
}

.sub-section-detail-left{
    font-size: 28px;
    font-weight: 600;
}

.sub-section-detail-right{
    font-size: 12pt;
    font-weight: 400;
}

.sub-section-detail-title{
    font-size: 22pt;
    font-weight: 600;
    padding-bottom: 30px;
}

.sub-section-detail-subtitle{
    padding-bottom: 60px;
}

.sub-section-grid-title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 50px;
}

.sub-section-grid-2{
    display: grid;
    grid-template: auto / auto auto ;
    grid-row-gap: 50px;
    grid-column-gap: 26px;
}

.sub-section-grid-3{
    display: grid;
    grid-template: auto / auto auto auto;
    grid-row-gap: 50px;
    grid-column-gap: 26px;
}

.sub-section-grid-4{
    display: grid;
    grid-template: auto / auto auto auto auto;
    grid-row-gap: 50px;
    grid-column-gap: 26px;
}


.sub-section-grid-item>img {
    width: 100%;
    display: block;
}
